*
{
    margin: 0px;
    padding: 0px;
}

header, section, nav
{
    display: block;
}

body
{
    background: #d8bee0;
}

div
{
    margin: 10px 50px;
    /* border: solid 1px #6F1E51; */
}

.Cabecera
{
    color: #006266;
    padding: 18px 20px;
    text-align: left;
    font: bold 26px sans-serif;
}

.PropietarioXD
{
    padding: 14px 20px;
    color: #1289A7;
    font: bold 26px sans-serif;
    text-align: left;
}

.Texto
{
    margin: 10px;
    font: italic 20px sans-serif;
}

.Menu li
{
    padding: 10px;
    list-style: none;
    font: bold 14px verdana;
}

.Menu li input
{
    padding: 5px;
    font: bold 15px sans-serif;
}